In [2]:
result = None
print(result)

None

In [ ]:
#  floor division roud figure value deta hai remove decimal
a = 10
b = 20
print(a>20 and a==10)
print(a>20 or b==20)
print(not(a>20)) #ye reverse kr deta hai
# =
# +=
# -=
# *=

False
True
True

In [5]:
vegetables = ['karela','aloo']
print('aloo' in vegetables)

True

In [6]:
#controle statements 
pie = 3.147
radius = float(input('enter radius = '))
area_of_circle = pie*radius*radius
print(f'Area of circle :{area_of_circle}')

Area of circle :453.16799999999995

In [ ]:
"""
if condition:
    statements
else:
  print()

"""
"""
elif
elif use krte hai hum multiole condition ke liye 
"""
age = int(input("ENter your age: "))
if age > 18:
    print("Eligible for vote:")
elif age <= 0:
    print("invalid age")
"""
 
"""

Eligible for vote:

In [9]:
num1 = float((input("Enter number 1 =")))
num2 = float((input("Enter number 2 = ")))
choice = input("Enter your choice + - * /")
if choice == '+':
     print(f'Addition : {num1 + num2}')
elif choice == '-':
     print(f'Subtraction : {num1 -num2}')
elif choice == '*':
     print(f'Multiplication : {num1*num2}')
elif choice == '/':
     print(f'Division : {num1/num2}')
else:
     print('invalid choice')

Addition : 24.0

In [ ]:
"""
loops
multiple repeat kr skte hai hum kissi bhi task ko 
1-while loop - until unless condtion is true 
2-for loop  limted time tak kissi statment pr itrate krta rhta hai
"""
"""
while loop 
True 

while condition:
    "code execute
"""

''

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# """
# for loop 
# [1,2,3,4,5]
# 5 times 
# list tuple dict string

# """
a = [1,2,3,4,5]
for i in a:
    print(i)
#     "infinte loop"
#     while True:
#         print('hI')

1
2
3
4
5

In [16]:
# range.py
"""
range(start,stop,step)
step - 1
step - 100,exclude
step - 1
"""
a = list(range(1,10,1))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# nested loop 
for i in range(1,3):
    for j in range(3,6):
        print(f'{i},{j}')

1,3
1,4
1,5
2,3
2,4
2,5

In [21]:
#break statemnts 
for num in range(1,10,1):
    print(num)
    if num == 5:
        break

1
2
3
4
5

In [ ]:
# continue
for num in range(1,5):
    if num == 3: # for skip
        continue
    print(num)

1
2
4

In [ ]:
# pass 
for num in range(1,10):
    if num == 5:
        pass # agr abhi decide. nhi kiya hai ki break krna hai ki pass krna hai toh hum abhi pass likhkr chhod skte hai baad me decide krke dal skta hai 
    print(num)

1
2
3
4
5
6
7
8
9

In [37]:
"""
1-10 
even number
"""
for i in range(1,11):
    if(i%2 == 0 ):
        print('even',i)
    else:
        print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [39]:
start = int(input('Enter start = '))
stop = int(input('Enter stop ='))
skip = int(input('number you want to skip = '))
for i in range(start,stop):
    if i == skip:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [40]:
## string and characters
name1 = 'karan'
name2 = "karan"
name3 = '''karan''' #multi line string
name4 = """karan"""# multi line string
print(name1,name2,name3,name4)

karan karan karan karan

In [ ]:
# 1 - immutable
# 2 - index
# 3 - iterable
## indexing me hum ek baar me ek hi charter access kr skte hai
"""
right to left 
-ve to -1

left to right 
+ve 0
"""
language = 'python'
for i in language:
    print(i)

p
y
t
h
o
n

In [44]:
"""
len()
space is also count
"""
password = "@karan123"
if len(password)>5:
  print("login sucessfulll")
else:
  print("length is too short or <5")

login sucessfulll

In [ ]:
"""
slicing me hum ek baar me 1 ya 1 de jda charter access kr skte hai 

string[start:stop:step]
start = 0
stop = 3 + 1 , exclusive 3,2 agr hume 3rd charter tak jhana hai toh hume +1 one mtlb 4 pass krna hoga tbhi mai 3rd char tk ja paunga 
step - 1 2 3
"""
text = "this is oython the king of AI"
print(text[1:5:1])

his

In [47]:
"""
print(text(::)) 
pura char pass kr dega 
print(text[::-1]
"""
number = 10
print(10**10)

10000000000

In [ ]:
# concatenate
#concatenation
name = "sagar"
ser_name = 100
print('Hi',name+ser_name) # hum sirf string ke hi sth concatenate kr kste hai

TypeError: can only concatenate str (not "int") to str

In [50]:
#checking membership
# text = "python is the king"
# print("king" in text)
email = "karansinghnaipur@gmail.com"
if('@'in email):
    print("valid email")
else:
    print("in-valid email")

valid email

In [ ]:
str = 'KARANSINGH'# .lower() hum yha bhi lga skte hai 
print(str.lower())

karansingh

In [53]:
str = input('enter your name =').capitalize()
print(str)

Karan

In [ ]:
# title.py
str = input("enter a sentence = ").title()
print(str)

Karan Singh A Btech Studen T

In [55]:
#swap cass
str = input('enter a sentence = ').swapcase()
print(str)

AbCd

In [ ]:
## Seaarching and replacing method 
text = "python program"
print(text.find("g")) ## index number bta deta hai

10

In [58]:
# replace
text = "python programing"
print(text.replace("python","java"))

java programing

In [60]:
# spliting and joining method
str = "a,b,c"
print(str.split(","))

['a', 'b', 'c']

In [62]:
str = "a,b,c"
s = str.split(",")
print('after spliting',s)
# join(iterable)
result = ",".join(s)
print(result)

after spliting ['a', 'b', 'c']
a,b,c

In [65]:
# checking method 
str = "python"
print(str.startswith('p'))
print(str.endswith("n"))
print(str.isalpha())
print(str.isdigit())
print(str.isalnum())

True
True
True
False
True